$navbar-font-size:0.95rem;
$navbar-letter-spacing:0.0625em;
$navbar-link-hover:#ffc800;
$navbar-bg-color: #f8f9fa;
$navbar-brand-color: #212529;
$navbar-link-color: #212529;
$content-bg-color:#f8f9fa;
$services-bg-color:rgb(29,128,159);
$section-padding:7.5rem;
$font-size-base: 1rem;
$line-height-base: 1.5;
$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;
$navbar-padding-x: 1rem;
$navbar-toggler-padding-y: 0.25rem;
$navbar-toggler-padding-x: 0.75rem;
$navbar-toggler-font-size: 1.25rem;
$navbar-brand-font-size: 1.5rem;
$navbar-brand-font-weight: bold;
$navbar-nav-link-padding-x: 0.5rem;
$navbar-nav-link-font-size: 0.9rem;